NODE_ENV=development # development | production | test
DEBUG=false # true | false
LOG=true # true | false
LOG_LEVEL=info # fatal | error | warn | info | debug | trace | silent

APP_NAME=FastifyApp # Your application name
PORT=3000 # Port to run the server on
HOST=0.0.0.0 # Host to bind the server to
BASE_URL=http://localhost:3000 # Base URL for the application, used in links and documentation
MAX_REQUESTS_PER_MINUTE=100 # Rate limit for incoming requests
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://0.0.0.0:5173 # Comma-separated list of allowed origins for CORS

DATABASE_URL=postgresql://user:password@localhost:5432/dbname # Your database connection string

# Authentication configuration
# openssl rand -base64 32
AUTH_SECRET=your-secret-key-here